# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/didactico/node_modules
/frontend/didactico/.pnp
.pnp.js
/backend/node_modules

# testing
/frontend/didactico/coverage

# production
/frontend/didactico/build

# misc
/frontend/didactico/.DS_Store
/frontend/didactico/.env.local
/frontend/didactico/.env.development.local
/frontend/didactico/.env.test.local
/frontend/didactico/.env.production.local

/frontend/didactico/npm-debug.log*
/frontend/didactico/yarn-debug.log*
/frontend/didactico/yarn-error.log*
